@font-face {
  font-family: 'Pokemon';
  src: url('/assets/fonts/Pokemon_Hollow.ttf');
}
body {
  margin: 0;
  height: 100vh;
  font-family: 'Pokemon' !important;
 /*  display: flex;
  place-items: center;
  min-width: 320px; */
}
.cardsStyle{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5em;
}
